.CartPopup {
  display: none;
  position: absolute;
  right: 0;
  width: 400px;
  top: 100%;
  justify-content: space-around;
  background: #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
  z-index: 1;
  &-opened {
    display: flex;
  }
  &-cart-with-orders, &-empty-cart {
    width: 400px;
    padding: 15px;
  }
  &-empty-cart {
    text-align: center;
  }
  &-products {
    max-height: 330px;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      width: 0;
      background: transparent;
    }
  }
  &-product {
    display: flex;
    padding: 15px 0;
    justify-content: space-between;
    text-transform: uppercase;
    &-view {
      position: relative;
      width: 80px;
      height: 80px;
      overflow: hidden;
    }
    &-image {
      position: absolute;
      left: 50%;
      top: 50%;
      height: 100%;
      width: fit-content;
      max-width: 115px;
      transform: translate(-50%,-50%);
    }
    &-info {
      display: flex;
      width: 230px;
      flex-direction: column;
    }
    &-title {
      font-size: 14px;
      font-weight: 600;
      letter-spacing: 0.5px;
      line-height: 1.2;
    }
    &-count {
      position: relative;
      top: -1px;
      font-weight: 400;
      font-size: 11px;
    }
    &-icon {
      &-multiply {
        line-height: 1.2;
        font-size: 9px;
      }
    }
    &-brand {
      margin: 2px 0 0 0;
      font-size: 10px;
      font-weight: 600;
      color: #9f9f9f;
      letter-spacing: .5px;
    }
    &-price {
      font-size: 12px;
      font-weight: 600;
    }
    &-remove {
      color: #99999b;
      &:hover {
        cursor: pointer;
      }
    }
  }
  &-total-price {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    padding: 15px 0;
    color: #c3c3c3;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-top: 1px solid #e4e4e4;
  }
  &-buttons {
    display: flex;
    justify-content: space-between;
  }
  &-button {
    display: flex;
    width: 177px;
    height: 54px;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 0.2s;
    &:hover {
      text-decoration: none;
    }
    &-view-cart {
      color: #1d1d20;
      border: 1px solid #1d1d20;
      &:hover {
        background: #4a4a4d;
        color: #fff;
        opacity: .85;
      }
    }
    &-checkout {
      color: #fff;
      background: #1d1d20;
      &:hover {
        background: #4a4a4d;
        color: #fff;
        opacity: .85;
      }
    }
  }
}
